
.dropdown dd {
    position: relative;
}

.dropdown dd ul {
    background-color: #ffffff;
    border: 1px solid #699dff;
    display: none;
    padding: 2px 15px 2px 5px;
    position: absolute;
    width: 100%;
    max-height: 100px;
    overflow: auto;
    font-style: normal;
    z-index: 100;
}
