#password {
    text-security:disc;
    -webkit-text-security:disc;
    -mox-text-security:disc;
}
.replacer {
    border:1px #666 dotted;
    height:20px;
    display:inline-block;
    color:#444;
    background:#eee
}
.replacer.current {
    border-color:#ccc;
    color:#000;
    background:#fff
}