
.delete-card-btn, .delete-box-btn {
    background-color: transparent;
    color: #b73735;
    padding: 2px;
}


.add-card-btn {
    color: #5aa95c;
    font-style: inherit;
    font-weight: 500;
    padding: 2px;
    margin-bottom: 10px;
}

.card-block {
    padding: 2px 15px;
}

.paddingless {
    padding: 0px;
    margin-bottom: 15px;
}

.calculated-amount {
    color: #737373;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    font-style: inherit;
    margin-top: 5px;
    margin-bottom: 10px;
}

.total-amount {
    padding-left: 60px;
    color: #8c8c8c;
     /*margin-left: 15px;*/
    font-size: 18px;
    /*font-weight: 500;*/
    display: inline;
}

.rate-send {
    color: #939393;
    /*margin-left: 15px;*/
    font-size: 15px;
    /*font-weight: 500;*/
    display: inline;
}

.pointer {
    cursor: pointer;
}

.commission-row {
    margin-bottom: 10px;
    vertical-align: center;
}

.commission-btn {
    margin-bottom: 10px;
}

.rate {
    max-width: 80px;
    min-width: 80px;
}

.description{
    margin-bottom: 17px;
}

.repayment-button{
    padding-top: 23px;
}
.repayment-row{
    margin-bottom: 0px;
}