/*
 * Base structure
 */

.table-condensed {
    font-size: 12px;

}

.table-condensed td {
    padding-top: 1px !important;
    padding-right: 2px !important;
    padding-bottom: 1px !important;
    padding-left: 2px !important;

    /*padding: 2px !important;*/
    vertical-align: bottom !important;
}

h2 {
    margin-top: 13px !important;
    margin-bottom: 10px !important;
    font-size: 25px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.alert {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

/*
 * Rate
 */
.table-rate tr {
    background: #f0f0f0;
}

.rate-bottom {
    border-bottom: 1px solid #800 !important;
}

.rate-right {
    border-right: 1px solid #800 !important;
}

.commission-panel {
    font-weight: bold;
    color: red !important;
}


textarea {
    resize: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
    vertical-align:middle;
}


.div-left {
    float:left;
    /*padding-left:10px;*/
}
.div-right {
    float:right;
    /*padding-right:10px;*/
}

/*
 * Typography
 */


/*
 * Sidebar
 */

/*
 * Dashboard
 */